<h2>To Do List for <%= @todolist.user_name %> </h2>
<% if @todolist.count > 0%>
	<% @todolist.each do |item| %>
		<%= render(partial: "todo_item", object: item) %>
	<% end %>
<% else %>
	<h3>Congratulations. You are all caught up!</h3>
<% end %>


