<div class="hero-unit">
	<h1>Welcome to Metricalc</h1>
	<p>
		This is a private web site. Send an email to pitosalas@gmail.com to request access and an account.
	</p>
	<p>
		Metricalc is a learning metrics tool. It's purpose is to provide live and active feedback between students and teachers, the audience and the speaker, the visitors and the guides.
	</p>	
</div>

<div class="row">
	<div class="span4">
		<h3>Learning Objectives</h3>
		<p>
		Compile a list of Learning Objectives that represent the goals of the presentation or course. What do you hope the students understand and retain? How do the students self-rate on their own grasp of the material? And which students are ahead and which ones are having a difficult time keeping up?
		</p><p>Metricalc gives you a variety of easy ways to discover and articulate your learning objectives in a form that is directly accessible by the particpants/
		</p>
		<p>
			<a class="btn">Learn More</a>
		</p>
	</div>
	<div class="span4">
		<h3>Programs and Rounds</h3>
		<p>
		The basic building block is a Program. This could for example be a semester or a seminar or a lecture series. The same set of people participate over a span of time. They are the participants. During that time there might be classes, courses, presentations, visits or projects.
		</p><p>
		Metricalc periodically conducts a round of questions to all the students about their understanding or grasp of the material.
		</p>
		<p>
			<a class="btn">Learn More</a>
		</p>
	</div>
	<div class="span4">
		<h3>Educational Metrics Visualization</h3>
		<p>
		At any point during the Program you can ask for an update on the data coming from the participants. View beautiful displays making it easy to see whether people are keeping up and understanding the material or who is completely lost. 
		</p><p>
		Always know Which concept stuck and which one flew right over their heads.
		</p>
		<p>
			<a class="btn">Learn More</a>
		</p>
	</div>
</div>
