<p class="lead">
  Welecome to Repeat Survey. Create or access your program.
</p>
<p>
  This tool implements a longitudanal study of responses to a standar set of questions. Originally it was designed to allow a teacher to check in with a class once a week and see how their responses to a fixed number of questions changed over time. The idea is simply to be able to have a relatively quantitative measure of how well the students are progressing in their understanding of the material.
</p>
<%= will_paginate %>
<ul>
  <%= render @programs %>
</ul>
<%= will_paginate %>
<%= link_to "Create a new Program", new_program_path %>
