<div class="row">
  <div class="span8">
    <p>
      Users are individual people, with names and email. You need to create (or import) information about anyone who is logging in. When you do that, you will designate their role. Roles are:
      <small><ul>
        <li>Administrator: Can do anything at all.</li>
        <li>Coordinator: Can create new programs and assign users to participate.</li>
        <li>Participant: Can only participate in programs and only see their own info </li>
      </ul></small>
    </p>
  </div>
  <div class="span8">
    <% if @users.nil? %>
      <h3>No Users Visible To You</h3>
    <% else %> 
      <%= will_paginate %>
      <ul>
        <%= render @users %>
      </ul>
      <%= will_paginate %>
      <% if can? :create, User %>
        <%= link_to "Create a new User", new_user_path %>
      <% end %>
    <% end %>
  </div>
</div>
