<h2>Report</h2>
  <p>
    Program Id: <%= @program_id %>
  </p>
  <p>
    Question Code: <%= @quest_code %>
  </p>
  <p>
    Participant Code: <%= @part_code %>
  </p>
  <p>
    Round Code: <%= @round_code %>
  </p>
